// Color Variables
$primary-color: #907DBA;
$secondary-color: #2bfdff;
$text-color: #4c4c4c;
$text-color-dark: #000;
$text-color-light: #999999;
$body-color: #fff;
$border-color: #c7c7c7;
$black: #000000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Noto Sans', sans-serif;
$secondary-font: 'Racing Sans One', cursive;
$tertiary-font: 'Racing Sans One', cursive;
$icon-font: 'themify';